<a href="https://colab.research.google.com/github/MMRES-PyBootcamp/MMRES-python-bootcamp2022/blob/main/02_Types_and_Flow.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Part 2 - Types, Functions and Flow Control

## Data types and numbers

In [ ]:
x_int = 3
x_float = 3.
x_complex = 1 + 2j
x_string = 'three'
x_list = [3, 'three']

In [ ]:
type(x_float)

float

In [ ]:
type(x_string)

str

In [ ]:
type(x_complex)

complex

In [ ]:
type(x_list)

list

We can convert numerical types using functions `int`, `float` and `complex`

In [ ]:
z = 3 + 2j
z

(3+2j)

In [ ]:
_6

(3+2j)

In [ ]:
int(_)

TypeError: can't convert complex to int

To find the absolute value

In [ ]:
abs(z)

3.605551275463989

In [ ]:
abs(-19)

19

In [ ]:
pi = 3.1456

In [ ]:
int(pi)

3

In [ ]:
complex(pi)

(3.1456+0j)

In [ ]:
abs(pi)

3.1456

In [ ]:
round(pi) # round(pi, 1)

3

In [ ]:
float(pi)

3.1456

Other useful functions:

In [ ]:
max(0, -1, 1, 2)

2

In [ ]:
min(1, 2, 0, -1)

-1

### Math library

Python is organized into modules, which are files with a `.py` extension that contain functions, variables, and other objects, and packages, which are sets of modules. When we want to use objects that are defined in a module we have to import it, and once we have done it we can use the operator `.` to go down the hierarchy of packages and access the object we need. For example, this way we import math to use well-known functions and also other variables:

In [ ]:
import math

math.floor(4.5)

4

In [ ]:
math.exp(1)

2.718281828459045

In [ ]:
math.log(1)

0.0

In [ ]:
math.log10(10)

1.0

In [ ]:
math.sqrt(9)

3.0

Remember you can always look at the documentation of any function with `?`

In [ ]:
math.sqrt?

In [ ]:
math.pi, math.e

(3.141592653589793, 2.718281828459045)

We can use alias when importing libraries

In [ ]:
import numpy as np

In [ ]:
np.e

2.718281828459045

**Exercise**: compute the value of the expression
$$\sqrt{\frac{3}{\pi - 1} + 25^{1/4}}$$
and give the result rounded to two decimals

In [ ]:
round(math.sqrt(3/(math.pi - 1) + 25**(1/4)),2)

1.91

## Lists

Lists are ordered collections of objects of any kind.

In [ ]:
x_list

[3, 'three', 'III']

We can retrieve elements of a list by indexing into the object with `[]`. In Python we count the elements of a collection from $0$ to $n-1$ (being $n$ the total number of elements). In order to retrieve an element, we can start counting from the beginning of the list, simply introducing the corresponding index, or from the end of the list with negative indexes.

In [ ]:
x_list[0], x_list[-2]

(3, 'three')

In [ ]:
x_list[1], x_list[-1]

('three', 'III')

We can insert elemnts at the end

In [ ]:
x_list.append('III')
x_list

[3, 'three', 'III', 'III']

A list can contain other lists

In [ ]:
x_list.append(['III', [2, 'hi']])
x_list

[3, 'three', 'III', 'III', ['III', [2, 'hi']]]

In [ ]:
x_list[4][0], x_list[4][1][0]

('III', 2)

Delete elements

In [ ]:
del x_list[-1]
x_list

[3, 'three', 'III']

Concatenate elements

In [ ]:
y_list = ['john', '2.', '1']

y_list + x_list

['john', '2.', '1', 3, 'three', 'III']

In [ ]:
x_list*3

[3, 'three', 'III', 3, 'three', 'III', 3, 'three', 'III']

We can apply functions to lists, `max`, `min`, `sum`, `len`

In [ ]:
z_list=[4, 78, 3]
max(z_list)

78

In [ ]:
min(z_list)

3

In [ ]:
sum(z_list)

85

In [ ]:
len(z_list)

3

There also methods that can be called using `.` operator

In [ ]:
z_list.count(4)

1

In [ ]:
z_list.append(4)
z_list.count(4)

2

In [ ]:
z_list.sort()
z_list

[3, 4, 4, 78]

In [ ]:
z_list.reverse()
z_list

[78, 4, 4, 3]

We can check if an element is inside the list using `in`

In [ ]:
2 in z_list

False

#### Slicing

Taking a slice of the form `[i:j:k]`, the convention is that we take elements from `i` (included) up to `j` (excluded) using a `k` step.

In [ ]:
w_list = [0, 1, 2, 3, 4]

In [ ]:
print(w_list[0])
print(w_list[1])
print(w_list[0:2])
print(w_list[1:])
print(w_list[:3])
print(w_list[-1])
print(w_list[:-2])
print(w_list[:])
print(w_list[::2])

0
1
[0, 1]
[1, 2, 3, 4]
[0, 1, 2]
4
[0, 1, 2]
[0, 1, 2, 3, 4]
[0, 2, 4]

<div class="alert alert-block alert-warning"> In Python indexing starts in 0!!! </div>

### Strings

Strings are another kind of variable that represent sequences of characters

In [ ]:
string = 'Hello World!'
string2 = "This is also allowed, helps if you want 'this' in a string and vice versa"
len(string)

12

They can be manipulated as lists

In [ ]:
print(string)
print(string[0])
print(string[2:5])
print(string[2:])
print(string[:5])
print(string * 2)
print(string + 'TEST')
print(string[-1])

Hello World!
H
llo
llo World!
Hello
Hello World!Hello World!
Hello World!TEST
!

In [ ]:
print(string/2)

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [ ]:
print(string - 'TEST')

TypeError: unsupported operand type(s) for -: 'str' and 'str'

Python offers some string functionalities:

In [ ]:
x = 'test'

In [ ]:
x.capitalize()

'Test'

Enviromnents like Jupyter, Spyder, VSCode, etc. allow you to explore the methods like `.capitalize()` or `.upper()` using `x.` and pressing `tab`.

In [ ]:
x.find('e')

1

In [ ]:
x = 'TEST'
x.lower()

'test'

#### Formating

You can also format strings, e.g. to display rounded numbers

In [ ]:
print('Pi is {:06.2f}'.format(3.14159))
print('Space can be filled using {:_>10}'.format(x))

Pi is 003.14
Space can be filled using ______TEST

With python 3.6 this became even more readable

In [ ]:
print(f'{x} 1 2 3')

TEST 1 2 3

### Tuples

Tuples are immutable and can be thought of as read-only lists.

In [ ]:
y_tuple = ('john', '2.', '1')
type(y_tuple)

tuple

We can avoid parenthesis

In [ ]:
y_tuple = 'john', '2.', '1'
type(y_tuple)

tuple

In [ ]:
y_list

['john', '2.', '1']

In [ ]:
y_list[0] = 'Erik'
y_list

['Erik', '2.', '1']

In [ ]:
y_tuple[0] = 'Erik'

TypeError: 'tuple' object does not support item assignment

In [ ]:
a_list = [1, 2, 3.0, 4 + 0j, "5"]
a_tuple = (1, 2, 3.0, 4 + 0j, "5")
a_list == a_tuple

False

### Dictionaries

Dictonaries are lists with named entries. There is also named tuples, which are immutable dictonaries. Use `OrderedDict` from `collections` if you need to preserve the order.

In [ ]:
x_list[0]

3

In [ ]:
tinydict = {'name': 'John', 'code': 6734, 'dept': 'sales'}
type(tinydict)

dict

In [ ]:
print(tinydict)
print(tinydict.keys())
print(tinydict.values())

{'name': 'John', 'code': 6734, 'dept': 'sales'}
dict_keys(['name', 'code', 'dept'])
dict_values(['John', 6734, 'sales'])

We use keys instead of indexes to access elements of dictionaries

In [ ]:
tinydict['name']

'John'

In [ ]:
tinydict['code']

6734

In [ ]:
tinydict['surname']

KeyError: 'surname'

We can add new entries and modifiy old elements

In [ ]:
tinydict['dept'] = 'R&D'       # Update existing entry
tinydict['surname'] = 'Sloan'  # Add new entry
print(tinydict)

{'name': 'John', 'code': 6734, 'dept': 'R&D', 'surname': 'Sloan'}

In [ ]:
del tinydict['code']  # Remove entry with key 'code'

In [ ]:
tinydict['code']

KeyError: 'code'

In [ ]:
tinydict.clear()
print(tinydict)
del tinydict

{}

When duplicate keys encountered during assignment, the last assignment wins

In [ ]:
pepito = {'Name': 'Sara', 'Age': 7, 'Name': 'Manni'}
pepito

{'Name': 'Manni', 'Age': 7}

Finding the total number of items in the dictionary:

In [ ]:
len(pepito)

2

Produces a printable string representation of a dictionary:

In [ ]:
str(pepito)

"{'Name': 'Manni', 'Age': 7}"

## Sets

Unordered containers without repeating items.

In [ ]:
my_set = set([1, 2])
my_set

{1, 2}

In [ ]:
my_set.add(4)
my_set

{1, 2, 4}

In [ ]:
my_set.add(4)
my_set

{1, 2, 4}

We can use `update` method to add multiple items

In [ ]:
my_set.update(['hi', 3.5])
my_set

{1, 2, 3.5, 4, 'hi'}

Operations between sets

In [ ]:
my_set + 5

TypeError: unsupported operand type(s) for +: 'set' and 'int'

In [ ]:
other_set = {3, 4, 5}

In [ ]:
my_set - other_set

{1, 2, 3.5, 'hi'}

In [ ]:
other_set.difference(my_set)

{3, 5}

In [ ]:
my_set.intersection(other_set)

{4}

In [ ]:
my_set.discard('hi')
my_set

{1, 2, 3.5, 4}

In [ ]:
my_set.discard('hello')

## Functions

To define our own function we use the `def` statement followed by the name of the same and the input arguments in parentheses. The first line of the function can be a doc string.

In [ ]:
def mean(mylist):
    "Calculate the mean of the elements in mylist."
    number_of_items = len(mylist)
    sum_of_items = sum(mylist)
    return sum_of_items / number_of_items

In [ ]:
mean

In [ ]:
mean.__doc__

'Calculate the mean of the elements in mylist.'

In [ ]:
type(mean)

function

In [ ]:
z_list

[78, 4, 4, 3]

In [ ]:
mean(z_list)

22.25

In [ ]:
help(mean)

Help on function mean in module __main__:

mean(mylist)
    Calculate the mean of the elements in mylist.

In [ ]:
mean?

In [ ]:
mean??

In [ ]:
def multiply(x, y=2.0):
    """Multiplies two numbers, bu default the first by 2."""
    return x * y

multiply(2,3), multiply(3)

(6, 6.0)

## Flow Control

In general, statements are executed sequentially: the first statement in a function is executed first, followed by the second, and so on. We often encounter situations in which we need to execute a block of code several number of times or change the operations based on some conditions. In Python a block is delimitted by an intendation (4 spaces), i.e. all lines starting at the same space are one block.

Programming languages provide various control structures that allow for more complicated execution paths.

### `while` Loop
Repeats a statement or group of statements while a given condition is `True`. The condition is tested before executing the loop body every time.

In [ ]:
count = 0
while (count < 9):
    print('The count is: ' + str(count))
    count += 1

print('Good bye!')

The count is: 0
The count is: 1
The count is: 2
The count is: 3
The count is: 4
The count is: 5
The count is: 6
The count is: 7
The count is: 8
Good bye!

A loop becomes infinite loop whenever the condition never becomes `False`. Hence, we need to be careful when using while loops provided that they may never end, as we saw in the previous notebook. These are called infinite loops.

An infinite loop might be useful in client/server programming where the server needs to run continuously so that client programs can communicate with it when required (`while True:`)

### `for` Loop
Executes a sequence of statements multiple times and abbreviates the code that manages the loop variable. The idea is that it goes through a set of elements

In [ ]:
for i in 1,2,3:
    print(i)

1
2
3

In [ ]:
for name in 'John','Charles','Tom':
    print(name)

John
Charles
Tom

In [ ]:
fruits = ['banana', 'apple',  'mango']
for fruit in fruits:        # Second Example
    print('Current fruit:', fruit)

Current fruit: banana
Current fruit: apple
Current fruit: mango

Sometimes one also needs the index of the element, e.g. to plot a subset of data on different subplots. Then `enumerate` provides an elegant ("pythonic") way:

In [ ]:
for index, fruit in enumerate(fruits):
    print(f'Fruit number {index}:', fruit)

Fruit number 0: banana
Fruit number 1: apple
Fruit number 2: mango

In principle one could also iterate over an index going from 0 to the number of elements:

In [ ]:
for index in range(len(fruits)):
    print('Current fruit:', fruits[index])

`range` function can be also used to go through a range of numbers

In [ ]:
for ii in range(3):
    print(ii)

0
1
2

In [ ]:
for ii in range(2,5):
    print(ii)

2
3
4

In [ ]:
for ii in range(2,10,2):
    print(ii)

2
4
6
8

`for` loops can be elegantly integrated into a list comprehension

In [ ]:
our_list = []
for n in range(5):
    our_list.append(n)
our_list

[0, 1, 2, 3, 4]

In [ ]:
[10*n for n in range(5)]

[0, 10, 20, 30, 40]

In [ ]:
print("It was true") if 2 < 3 else print("It was false")

It was true

In [ ]:
fruits_with_b = [fruit for fruit in fruits if fruit.startswith('b')]
fruits_with_b

['banana']

This is equivalent to the following loop:

In [ ]:
fruits_with_b = []
for fruit in fruits:
    if fruit.startswith('b'):
        fruits_with_b.append(fruit)
fruits_with_b

['banana']

**Exercise**: write a function that reads a number $n$ and prints the $n$-th harmonic number, defined as 
$$H_n = 1/1 + 1/2 + \dots + 1/n$$ with at most 4 digits after the decimal point

In [ ]:
def harmonic(n):
    """Returns the n-th harmonic number"""
    sum = 0
    for i in range(1,n+1):
        sum += float(1/i)
    return round(sum,4)

In [ ]:
harmonic(2), harmonic(7)

(1.5, 2.5929)

### Nested Loops

Nested loops are loops within other loops, regardless of the type. For example, we can have nested for and while loops.

In [ ]:
for x in range(1, 3):
    for y in range(1, 4):
        print(f'{x} * {y} = {x*y}')

### `if`

As we saw in the previous notebook, the if statement evaluates the code subject to the fulfillment of a given condition (generally created with a logical operator such as `==`, `<`, `>`, `=<`, `=>`, `not`, `is`, `in`, etc.). We can introduce an optional `else` statement to execute an alternative block of code whenever the condition is not met.

In [ ]:
attendants = ['Mark', 'Jack', 'Mary']
student = 'Mark'

if student in attendants:
    print('present!')
else:
    print('absent!')

We can also use one or more `elif` statements to check multiple conditions and execute a block of code as soon as one of the conditions is `True`.

In [ ]:
attendants_A = ['Mark', 'Jack', 'Mary']
attendants_B = ['Tom', 'Dick', 'Harry']
student = 'Tom'

if student in attendants_A:
    print('present in list A!')
elif student in attendants_B:
    print('present in list B!')
else:
    print('absent!')

We can also use nested `if` statements.

### `break`

`break` terminates the current loop and resumes execution at the next statement. The `break` statement can be used in both `while` and `for` loops. In nested loops, the `break` statement only stops the execution of the **innermost loop**.

In [ ]:
var = 10
while var > 0:              
    print('Current variable value: ' + str(var))
    var -= 1
    if var == 5:
        break

print('Good bye!')

An `else` statement right after the loop is executed if it hasn't been interrumpted by us

In [ ]:
var = 10
while var > 0:              
    print('Current variable value: ' + str(var))
    var -= 1
    if var == 5:
        break
else:
    print("Loop finished")

Current variable value: 10
Current variable value: 9
Current variable value: 8
Current variable value: 7
Current variable value: 6

In [ ]:
var = 10
while var > 0:              
    print('Current variable value: ' + str(var))
    var -= 1
    # if var  5:
    #    break
else:
    print("Loop finished")

Current variable value: 10
Current variable value: 9
Current variable value: 8
Current variable value: 7
Current variable value: 6
Current variable value: 5
Current variable value: 4
Current variable value: 3
Current variable value: 2
Current variable value: 1
Loop finished

### `continue`

The `continue` statement rejects all the remaining statements in the current iteration of the loop and moves the control back to the top of the loop (like a "skip"). It can be used in both `while` and `for` loops.

In [ ]:
for letter in 'Python':
    if letter == 'h':
        continue
    print('Current Letter: ' + letter)

Current Letter: P
Current Letter: y
Current Letter: t
Current Letter: o
Current Letter: n

### `pass`

The `pass` statement is a null operation: nothing happens when it executes. `pass` is also useful in places where the code will eventually go but has not been written yet.

In [ ]:
for letter in 'Python': 
    if letter == 'h':
        pass
        print('This is pass block')
    print('Current Letter: ' + letter)

print('Good bye!')

Current Letter: P
Current Letter: y
Current Letter: t
This is pass block
Current Letter: h
Current Letter: o
Current Letter: n
Good bye!

`pass` and `continue` may look similar but they fulfill different tasks. The printed message "This is pass block", wouldn't have been printed if continue had been used instead. `pass` does not do anything, while `continue` brings us straight the next iteration.

In [ ]:
for letter in 'Python': 
    if letter == 'h':
        continue
        print('This is pass block')
    print('Current Letter: ' + letter)

print('Good bye!')

Current Letter: P
Current Letter: y
Current Letter: t
Current Letter: o
Current Letter: n
Good bye!

**Exercise:** Write a function that prints squares with $n^2$ $n$s.

*Input*: Input consists of several natural numbers between 1 and 9.

*Output*:For every $n$, print a square of size $n \times n$ full of $n$s. Separate two squares with an empty line.

In [ ]:
def squares(n):
    """prints squares with n^2 n's"""
    for i in range(n):
        string = ""
        for j in range(n):
            string = string + str(n)
        print(string)

In [ ]:
squares(3)

333
333
333